/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 160px;
      height: 1px;
      background: color-mix(in srgb, var(--default-color), transparent 60%);
      left: 0;
      right: 0;
      bottom: 1px;
      margin: auto;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 60px;
      height: 3px;
      background: var(--accent-color);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  p {
    margin-bottom: 0;
  }
}

@import './sections/_hero-2.scss';
@import './sections/_hero.scss';
@import './sections/_hero-3.scss';
@import './sections/_about.scss';
@import './sections/_features.scss';
@import './sections/_pricing.scss';
@import './sections/_team-3.scss';
@import './sections/_call-to-action-7.scss';
@import './sections/_post-list.scss';
@import './sections/_testimonials.scss';
@import './sections/_faq.scss';
@import './sections/_contact.scss';
@import './sections/_portfolio-details.scss';
@import './sections/_service-details.scss';
@import './sections/_terms-of-service.scss';
@import './sections/_privacy.scss';
@import './sections/_error-404.scss';
@import './sections/_starter-section.scss';
@import './sections/_about-2.scss';
@import './sections/_about-3.scss';
@import './sections/_call-to-action.scss';
@import './sections/_services.scss';
@import './sections/_call-to-action-2.scss';
@import './sections/_gallery.scss';
@import './sections/_call-to-action-3.scss';
@import './sections/_team-2.scss';
@import './sections/_about-4.scss';
@import './sections/_call-to-action-4.scss';
@import './sections/_contact-2.scss';
@import './sections/_call-to-action-5.scss';
@import './sections/_about-me.scss';
@import './sections/_call-to-action-6.scss';
@import './sections/_posts-section-2.scss';
@import './sections/_post-list-2.scss';
@import './sections/_pagination-2.scss';
@import './sections/_post-details-2.scss';
@import './sections/_author-2.scss';
@import './sections/_post-list-3.scss';